{% extends "base.html" %}
{% block title %}BMP to PNG Converter{% endblock %}



{% block cover %}BMP to PNG Converter{% endblock %}

{% block button %}
    <button type="button" onclick="convertImage()">BMP to PNG Converter</button>
{% endblock %}

{% block script %}
    <script>
        let errorElement = document.getElementById('error-message');

        async function convertImage() {
            const formData = new FormData();
            const fileInput = document.getElementById("file-input");
            if (fileInput.files.length === 0) {
                errorElement.innerHTML = "Please select a file";
                return;
            }
            const file = fileInput.files[0];
            if (file.type !== "image/bmp") {
                errorElement.innerHTML = "Selected file is not in WEBP format.";
                return;
            }
            if (file.size / 1024 / 1024 > 10) {
                errorElement.innerHTML = "Selected image is larger than 10MB.";
                return;
            }
            formData.append("image", file);
            const resp = await fetch("/api/bmptopng", {
                method: "POST",
                body: formData
            })
            const data = await resp.blob();
            const url = URL.createObjectURL(data);
            const a = document.createElement("a");
            a.href = url;
            a.download = "converted.png";
            a.click();
        }
    </script>
{% endblock %}





